doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    .line
    .line
    .container
        .bigDiv1   
            .scroll
                .scroll-hint
            .div1          
                .left
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/about.jpg", alt="")
                .right
                        h5 About us
                        h1  
                            |We invite you to
                            br
                            |visit our restaurant 
                        p.text-restaurant
                            | Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam vitae amet repellat repudiandae tenetur, quod corrupti consectetur cum? Repudiandae dignissimos fugiat sit nam.
                            br
                            |    Tempore aspernatur quae repudiandae dolorem, beatae dolorum, praesentium itaque et quam quaerat. Cumque, consequatur!
                        
                        a(href="#").btn
                                span Read more
                        ul
                            li.icon
                                    a(href="#")
                                    i.fa-brands.fa-facebook-f(style="color:black")
                            li.icon
                                    a(href="#")
                                        i.fa-brands.fa-instagram
                            li.icon
                                    a(href="#")
                                        i.fa-brands.fa-twitter 
                            li.icon 
                                a(href="#")
                                        i.fa-brands.fa-youtube
            .line
            .div2
                .div-text
                    .title1
                        span Features
                    h3.title2 Why people chose us?
                    p.title3  Porro eveniet, autem ipsam vitae consequatur! 
                .col-1
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/icon-serv-1.png", alt="")
                    h5 Menu for every taste
                    p  Dolor sit amet, consectetur adipisicing elit et molestias possimus
                .col-2 
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/icon-serv-2.png", alt="")
                    h5 Always fresh ingredients
                    p   Assumenda possimus eaque illo iste, autem. Porro eveniet autem
                .col-3
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/icon-serv-3.png", alt="")
                    h5 Experienced chefs
                    p  Rolorem, beatae dolorum, praesentium itaque et quam quaerat
            .line 
                .background    
            .divAll 
                .containerAll
                    .picture 
                        .containerLeft
                            .container_text   
                                .titleTop
                                    .line_br  
                                    .lineText
                                    p ABOUT US
                                .textBottom
                                    h1 Working hours
                                    p Rolorem, beatae dolorum, praesentium itaque et quam quaerat.
                                .buttonAll
                                    .btn1      
                                        button RESERVATION
                                    .btn2
                                        a(href="#") CONTACT US      
                        .comtainerRight 
                            .divRight
                                .divTextTop
                                    p SUNDAY TO TUESDAY
                                    .divh5 
                                        p.text 
                                        | 09 
                                        span.text1 : 
                                        | 00
                                        br
                                        p.text 
                                        | 22 
                                        span.text1 : 
                                        | 00
                                .divTextBottom
                                    p FRIDAY TO SATURDAY
                                    .divh5 
                                        p.text 
                                        | 11 
                                        span.text1 : 
                                        | 00
                                        br
                                        p.text 
                                        | 19 
                                        span.text1 : 
                                        | 00
            .divAll1
                .part1
                    .docText1 
                        p 
                        | 200 
                        span +
                        .cmt
                            p VISITORS DAILY
                    .docText1 
                        p 
                        | 400 
                        span +
                        .cmt
                            p DELIVERIES MONTHLY
                .part2
                    .docText1 
                        p 
                        | 100 
                        span %
                        .cmt
                            p POSITIVE FEEDBACK
                    .docText1
                        p 
                        | 40 
                        span +
                        .cmt
                            p AWARDS AND HONORS
script(type="module" src="../js/BigDiv1.js")

            