doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css")
    body 
        .container 
            .top 
                .cover 
                    .content
                        .title  
                            .title1 
                                span TESTIMONIALS
                            .title2 
                                h1 What Our visitors say
                            .title3 
                                p Porro eveniet, autem ipsam corrupti consectetur cum.<br> Repudiandae dignissimos fugiat sit nam.     
                    .content.slider-group
                        section.splide
                            .splide__track
                                ul.splide__list
                                    li.splide__slide 
                                        .slide
                                            .card
                                                .symbol
                                                    span "
                                                h5 It was very delicious!
                                                .card-content
                                                    span.title3
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, br eligendi dolorem? Voluptates rem magnam nesciunt ullam hic error sed, br minus, accusantium inventore ex reprehenderit ipsum aperiam libero ut, br laudantium delectus deleniti debitis quas dolore quos. Accusamus ea saepe, br veniam. Nemo.
                                                .line
                                                .card-bottom
                                                    .card-img
                                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-1.jpg",
                                                            alt="Emma Newman")
                                                    .card-name
                                                        h6.card-name Emma Newman
                                                    .card-date
                                                        span 2002-02-02
                                    li.splide__slide 
                                        .slide
                                            .card
                                                .symbol
                                                    span "
                                                    h5 It was very delicious!
                                                .card-content
                                                    span.title3
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, br eligendi dolorem? Voluptates rem magnam nesciunt ullam hic error sed, br minus, accusantium inventore ex reprehenderit ipsum aperiam libero ut, br laudantium delectus deleniti debitis quas dolore quos. Accusamus ea saepe, br veniam. Nemo.
                                                .line
                                                .card-bottom
                                                    .card-img
                                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-4.jpg",
                                                            alt="Oscar Oldman")
                                                    .card-name
                                                        h6.card-name Oscar Oldman
                                                    .card-date
                                                        span 2002-02-02
                                    li.splide__slide 
                                        .slide
                                            .card
                                                .symbol
                                                    span "
                                                h5 It was very delicious!
                                                .card-content
                                                    span.title3
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, br eligendi dolorem? Voluptates rem magnam nesciunt ullam hic error sed, br minus, accusantium inventore ex reprehenderit ipsum aperiam libero ut, br laudantium delectus deleniti debitis quas dolore quos. Accusamus ea saepe, br veniam. Nemo.
                                                .line
                                                .card-bottom
                                                    .card-img
                                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-2.jpg",
                                                            alt="Viktoria Freeman")
                                                    .card-name
                                                        h6.card-name Viktoria Freeman
                                                    .card-date
                                                        span 2002-02-02
                                    li.splide__slide 
                                        .slide
                                            .card
                                                .symbol
                                                    span "
                                                h5 It was very delicious!
                                                .card-content
                                                    span.title3
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, br eligendi dolorem? Voluptates rem magnam nesciunt ullam hic error sed, br minus, accusantium inventore ex reprehenderit ipsum aperiam libero ut, br laudantium delectus deleniti debitis quas dolore quos. Accusamus ea saepe, br veniam. Nemo.
                                                .line
                                                .card-bottom
                                                    .card-img
                                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-3.jpg",
                                                            alt="Paul Trueman")
                                                    .card-name
                                                        h6.card-name Paul Trueman
                                                    .card-date
                                                        span 2002-02-02
                    .content
                        .option
                            a(href="#") 
                                .bt-inf
                                    span MORE ABOUT US
                                .h  
                                    span SLIDER NAVIGATION
                        

script(type="module" src="../js/BigDiv2.js") 