doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
.container
    .container2
        .container2-1
            .container2-1_1
                .left
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/about.jpg", alt="").img
                .right
                    div.suptitle
                        span About us
                    h3.title
                        span We invite you to 
                        br
                        span visit our restaurant
                    div.text 
                        p Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam vitae amet repellat repudiandae tenetur, quod corrupti consectetur cum? Repudiandae dignissimos fugiat sit nam.
                        p Tempore aspernatur quae repudiandae dolorem, beatae dolorum, praesentium itaque et quam quaerat. Cumque, consequatur!
                    box
                        a(href="#").btn
                            span Read more
                        ul
                            li.icon
                                a(href="#")
                                   i.fa-brands.fa-facebook-f
                            li.icon
                                a(href="#")
                                    i.fa-brands.fa-instagram
                            li.icon
                                a(href="#")
                                    i.fa-brands.fa-twitter 
                            li.icon 
                                a(href="#")
                                    i.fa-brands.fa-youtube
script(type="module" src="../js/BigDiv1.js")

            