doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    .container
        .bigDiv1   
            //- .div1          
            //-     .left
            //-         img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/about.jpg", alt="")
            //-     .right
            //-             h5 About us
            //-             h1  
            //-                 |We invite you to
            //-                 br
            //-                 |visit our restaurant 
            //-             p.text-restaurant
            //-                 | Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam vitae amet repellat repudiandae tenetur, quod corrupti consectetur cum? Repudiandae dignissimos fugiat sit nam.
            //-                 br
            //-                 |    Tempore aspernatur quae repudiandae dolorem, beatae dolorum, praesentium itaque et quam quaerat. Cumque, consequatur!
                        
            //-             a(href="#").btn
            //-                     span Read more
            //-             ul
            //-                 li.icon
            //-                         a(href="#")
            //-                         i.fa-brands.fa-facebook-f
            //-                 li.icon
            //-                         a(href="#")
            //-                             i.fa-brands.fa-instagram
            //-                 li.icon
            //-                         a(href="#")
            //-                             i.fa-brands.fa-twitter 
            //-                 li.icon 
            //-                     a(href="#")
            //-                             i.fa-brands.fa-youtube
            //- .lin
            .div2.p1
                .div-text
                    .title1
                        span TESTIMONIALS
                    h3.title2 What Our visitors say
                    p.title3  Porro eveniet, autem ipsam corrupti consectetur cum. Repudiandae dignissimos fugiat sit nam.
                .col-1
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-2.jpg", alt="")
                    h5 VIKTORIA FREEMAN
                    p  Dolor sit amet, consectetur adipisicing elit et molestias possimus
                .col-2 
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-3.jpg", alt="")
                    h5 OSCAR OLDMAN
                    p   Assumenda possimus eaque illo iste, autem. Porro eveniet autem
                .col-3
                    img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/face-4.jpg", alt="")
                    h5 Paul Trueman
                    p  Rolorem, beatae dolorum, praesentium itaque et quam quaerat
            .line 
            .div2.p2
                .div-text
                  .title1
                    span NEWSLETTER
                  h3.title2 Use the tips 
                    br
                    | and recipes of our chefs
                  p.title3  Porro eveniet, autem ipsam corrupti consectetur cum.
                    br
                    |Repudiandae dignissimos fugiat sit nam.
                    // Thanh làmmmmmmmmmmmmmmmmmmmmmmmmmm
                .col-1
                        .wrap_img 
                         img(style="width:254px" )(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/05/blog-6.jpg", alt="") 
                        .wrap 
                         h5 Business Breakfast
                         p  Consectetur adipisicing elit. Soluta, impedit, saepe. Unde minima distinctio officiis amet temporibus, consequuntur dolorem dicta…
                .col-2 
                        img(style="width:254px")(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/05/blog-5.jpg", alt="")
                        h5 Pancakes in Chocolate
                        p  Consectetur adipisicing elit. Soluta, impedit, saepe. Unde minima distinctio officiis amet temporibus, consequuntur dolorem dicta…
                .col-3
                        img(style="width:254px")(src="	https://bslthemes.com/tastyc/wp-content/uploads/2021/05/blog-4.jpg", alt="")
                        h5 Tuna & Tomatoes
                        p  Consectetur adipisicing elit. Soluta, impedit, saepe. Unde minima distinctio officiis amet temporibus, consequuntur dolorem dicta…
            .div2.p3
              .p3_background
               .div-text(style='color: white;padding-top:122px;')
                    .title1
                        span NEWSLETTER
                    h3.title2(style='color: white') Subscribe our newsletter 
                    p.title3  Porro eveniet, autem ipsam corrupti consectetur cum. Repudiandae dignissimos fugiat sit nam.
                    .input_submit
                        .input_submit_left(style="display: flex;align-items: center;justify-content:center;") 
                            input(type="text" placeholder="Enter your email" style="width:50%;height:50px; padding-left:28px;border-radius: 7px;margin-left: 10px; ")
                            .button
                                button(style="margin-top: -38px;margin-left: 38px") SUBSCRIBE

script(type="module" src="../js/BigDiv1.js")

            