doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    .splitSpace 

    .botContainer 
        .firstBC 
            .firstBC-left 
                img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/Logo-sm-white-new.png", alt="")
            .firstBC-right 
                i.fa-brands.fa-facebook-f
                i.fa-brands.fa-instagram
                i.fa-brands.fa-twitter
                i.fa-brands.fa-youtube

        .line.firstLine 

        .secondBC 
            .secondBC-left 
                .title About Us
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repudiandae neque illum aspernatur fugiat maiores id magni, modi, quaerat vitae. Consectetur adipisicing elit.
                a(href="https://vi.wikipedia.org/wiki/Nguy%E1%BB%85n_Ti%E1%BA%BFn_D%C5%A9ng", target="_blank") READ MORE 
            .secondBC-middle 
                .title Contact Infor
                .data-line 
                    span CALL:
                    .data 0765 041 143
                .data-line 
                    span WRITE:
                    .data thinhnhse171708@fpt.edu.vn
                .data-line 
                    span FIND US:
                    .data 72 Vung Tau, Viet Nam
                a(href="https://www.facebook.com/dunggg93/", target="_blank") READ MORE 
                
            .secondBC-right 
                .title Gallery 
                .food-img
                    .splide.splider-bot(role='group' aria-label='Splide Basic HTML Example')
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .sImage 
                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/gallery-i-1.jpg", alt="")
                                li.splide__slide
                                    .sImage 
                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/gallery-i-2.jpg", alt="")
                                li.splide__slide
                                    .sImage 
                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/gallery-i-3.jpg", alt="")
                                li.splide__slide
                                    .sImage 
                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/gallery-i-4.jpg", alt="")
                                li.splide__slide
                                    .sImage 
                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/gallery-i-5.jpg", alt="")
                                li.splide__slide
                                    .sImage 
                                        img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/04/gallery-i-6.jpg", alt="")
                    
                a(href="https://www.foodgallerycatering.com/", target="_blank").thirdA SEE MORE 
        .line.secondLine 
        .lastBC
          .lastBC-left 
             | © Tastyc 2022 . All rights reserved.
          .lastBC-right  
              a(href="#") BACK TO TOP            
    //- .splitSpace 
    
script(type="module" src="../js/Bot.js") 