doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    .midContainer 
        .smallMidContainer
            .midLeft 
                .midLeft-content
                    h3  MOBILE APPLICATION
                    h1 
                        | Download 
                        br
                        | Your Application
                    h5
                        | Quaerat debitis, vel, sapiente dicta sequi
                        br
                        br
                        | labore porro pariatur harum expedita.
                .midLeft-button
                    .button
                        .btnLeft 
                            button
                                a(href="https://www.apple.com/store", target="_blank") 
                                    i.fa-brands.fa-apple
                                    | APPSTORE 
                        .btnRight 
                            button
                                a(href="https://play.google.com/store/apps", target="_blank") 
                                    i.fa-brands.fa-google-play
                                    | PLAYMARKET
            .midRight 
                img(src="https://bslthemes.com/tastyc/wp-content/uploads/2021/05/burger.png", alt="")
script(type="module" src="../js/Mid.js") 